.Card {
  color: var(--color-primary);
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 0.5em;
  position: relative;
  margin: auto;
  max-width: 500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Card--full {
  max-width: 100%;
}

.Card--error {
  color: red;
}

.Card--loading {
  min-height: 150px;
  background: var(--color-primary-light);
}

.Card__Header {
  display: flex;
  align-items: center;
  position: relative;
}

.Card__Header::before,
.Card__Header::after {
  content: '';
  display: block;
  border-top: 1px solid transparent;
  height: 2em;
  position: relative;
  flex: 1;
}

.Card__Header::after {
  border-right: 1px solid transparent;
  border-radius: 0 0.5em 0 0;
  right: -1px;
}

.Card__Header::before {
  border-left: 1px solid transparent;
  border-radius: 0.5em 0 0 0;
  left: -1px;
}

.Card__Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Card__Title {
  transform: translate(0, -100%);
  line-height: 1;
  padding: 2px 1rem;
  background: var(--color-background);
  border-radius: 0.35em;
}

.Card__Footer,
.Card__Content {
  padding: 1em 2em 2em;
}

.Card__Footer {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.Card__CardSkeleton {
  min-height: 3em;
}

.Card__Description {
  padding: 0 0 1em;
}
.Card--active,
.Card--active .Card__Header::before,
.Card--active .Card__Header::after {
  border-color: currentColor;
}
