.Row {
  display: flex;
  flex-direction: row;
}

.Row--wrap {
  flex-wrap: wrap;
}

.Row--gap-none {
  gap: 0;
}
.Row--gap-xsmall {
  gap: 0.25rem;
}
.Row--gap-small {
  gap: 0.5rem;
}
.Row--gap-medium {
  gap: 1rem;
}
.Row--gap-large {
  gap: 1.5rem;
}
.Row--gap-xlarge {
  gap: 2.5rem;
}

.Row--align-start {
  align-items: flex-start;
}
.Row--align-center {
  align-items: center;
}
.Row--align-end {
  align-items: flex-end;
}
.Row--align-baseline {
  align-items: baseline;
}
.Row--align-stretch {
  align-items: stretch;
}

.Row--justify-start {
  justify-content: flex-start;
}
.Row--justify-center {
  justify-content: center;
}
.Row--justify-end {
  justify-content: flex-end;
}
.Row--justify-between {
  justify-content: space-between;
}
.Row--justify-around {
  justify-content: space-around;
}
