.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: calc(var(--site-width) + 10em);
  max-width: 100%;
  padding: 1em;
  pointer-events: none;
  z-index: 10;

}

.Header__Item {
  max-width: 4em;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
  gap: 1em;
}

@media (min-width: 1100px) {
  .Header {
    padding: 2em;
    position: sticky;
  }
}
