.Logo {
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-family: var(--font-geist-mono);
  gap: 0.25em;
  position: absolute;
  line-height: 2.85em;
  padding: 1em;
}

@media (min-width: 1100px) {
  .Logo {
    padding: 2em;
  }
}

.Logo__Separator {
  height: 1px;
  background: currentColor;
  width: 1.75em;
  transform-origin: center;
  transform: rotate(45deg);
}

.Logo__Dot {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.Logo__Dash {
  font-weight: 400;
  letter-spacing: 1px;
}
