body {
  line-height: var(--text-leading-normal);
}

.heading--1,
.heading--2,
.heading--3,
.heading--4,
.heading--5,
.heading--6,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dd,
dt {
  text-wrap: pretty;
}

.heading--1,
.heading--2,
.heading--3,
.heading--4,
.heading--5,
.heading--6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--text-size-base);
  line-height: var(--text-leading-normal);
  font-weight: var(--text-weight-regular);
}

.heading--1,
h1 {
  font-size: var(--text-size-2xl);
  font-weight: var(--text-weight-thin);
  line-height: var(--text-leading-tight);
  text-wrap: balance;
}

.heading--2,
h2 {
  font-size: var(--text-size-xl);
  font-weight: var(--text-weight-extralight);
  line-height: var(--text-leading-tight);
  letter-spacing: var(--text-tracking-wide);
  text-wrap: balance;
}

.heading--3,
h3 {
  font-size: var(--text-size-xs);
  font-weight: var(--text-weight-regular);
  letter-spacing: var(--text-tracking-wider);
  line-height: 2;
  text-transform: uppercase;
  display: block;
}

.heading--4,
h4 {
  font-size: var(--text-size-xs);
  font-weight: var(--text-weight-regular);
  letter-spacing: var(--text-tracking-wider);
  text-transform: uppercase;
  display: block;
}

.heading--5,
h5 {
  font-size: var(--text-size-sm);
  font-weight: var(--text-weight-medium);
}

.heading--6,
h6 {
  font-weight: var(--text-weight-medium);
  text-decoration: underline;
}

.Dash {
  position: relative;
  padding-left: 1.1em;
  display: block;
}

.Dash::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1em;
  height: 1px;
  top: 50%;
  background: currentColor;
}

strong {
  font-weight: var(--text-weight-medium);
}

h2 a,
p a {
  text-decoration: underline;
}

h2 a:hover,
p a:hover {
  text-decoration: none;
}
