:root {
  --stripes:
    radial-gradient(
        9.44px at calc(100% + 8px) 50%,
        #0000 calc(99% - 1px),
        #000 calc(101% - 1px) 99%,
        #0000 101%
      )
      calc(50% - 2.5px + 0.5px) calc(50% - 8px) / 5px 16px,
    radial-gradient(
        9.44px at -8px 50%,
        #0000 calc(99% - 1px),
        #000 calc(101% - 1px) 99%,
        #0000 101%
      )
      calc(50% + 2.5px) 50%/5px 16px;
}

.Bar {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 1em;
  boder: 1px solid red;
  height: 0;
}

.Bar--global {
  bottom: auto;
  position: fixed;
  top: 0;
}

.Bar__Squibbles {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vw;
  transform: translate(0, -50%) rotate(45deg);
  background: var(--color-primary);
  mask: var(--stripes);
  animation-duration: 3s;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from {
    top: 0%;
  }

  to {
    top: -100%;
  }
}
