.Button {
  border: none;
  background: none;
  text-align: center;
  display: inline-flex;
  font-size: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  text-decoration: underline;
  transition: all 0.2s;
  color: var(--color-primary);
}

.Button:hover,
.Button:focus {
  color: var(--color-primary);
  background: var(--color-primary-light);
}

.Button--primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-secondary);
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
  width: 100%;
  text-align: center;
  display: inline-block;
  max-width: 450px;
  font-weight: 500;
  text-decoration: none;
}

.Button--secondary {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--color-primary);
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
  width: 100%;
  text-align: center;
  display: inline-block;
  max-width: 450px;
  font-weight: 500;
  text-decoration: none;
}

.Button--destructive {
  background-color: var(--color-destructive);
  border: 1px solid var(--color-destructive);
  color: var(--color-secondary);
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
  width: 100%;
  text-align: center;
  display: inline-block;
  max-width: 450px;
  font-weight: 500;
  text-decoration: none;
}