.Avatar {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
   position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
