.Progress__Bar {
  border: 1px solid var(--color-primary);
  overflow: hidden;
  height: 1em;
  position: relative;
  border-radius: 0.25em;
}

.Progress {
  padding: 2em 0 0;
}

.Progress__Label {
  padding-bottom: 0.5em;
}

.Progress__Indicator {
  background: var(--color-primary);
  height: 100%;
  width: 100%;
  transition: width 0.5s;
}
